.DS_Store
node_modules
/dist
package-lock.jsom
package.json
server.js

# Local env files
.env.local
.env.*.local

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Gradle
.gradle/
build/
